@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Contact Name </th>
            <th> Date Submitted </th>
            <th> Resolved </th>
            <th> Charger </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody id="ticket-table-body"></tbody>
</table>

@section Scripts {
    <script type="module" src="~/js/ticketIndex.js"></script>
}