@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Asset Tag </th>
            <th> Service Tag </th>
            <th> Model </th>
            <th> Under Warranty </th>
            <th> User Id </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody id="computer-table-body"></tbody>
</table>

@section Scripts {
    <script type="module" src="~/js/computerIndex.js"></script>
}