a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #7f5838;
  border-color: #6a4b30;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #7f5838;
  border-color: #6a4b30;
}

.border-top {
  border-top: 1px solid #43423e;
}
.border-bottom {
  border-bottom: 1px solid #43423e;
}

.box-shadow {
  box-shadow: none;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}